{% block _payment_methods_paypal_express_widget %}
    <div class="{{ class_prefix }}__form__payment-methods">
        <img src="{{ asset('bundles/oropaypalexpress/default/images/pp-express-checkout-method.png') }}" />
        <div>{{ 'oro.paypal_express.checkout.redirect_to_paypal'|trans|nl2br }}</div>
    </div>
{% endblock %}
